    <hr>
      <div class="col-md-12" style="padding-left: 30px">
        <div class="row">
        </div>
      </div>
      <footer class="footer"><p style="text-align:center">© NETtoDUSTRY <a href="#" class="back-to-top" style="text-align:center"><i class="fa fa-fw fa-arrow-circle-up"></i></a></p></footer>
      <footer class="footer"><p style="text-align:center">V 3.0.0<a href="#" class="back-to-top" style="text-align:center"></a></p></footer>
      <footer class="footer"><p style="text-align:center"> node .JS and DUC Pop!_OS 20.04 server hosting nettotown.ddns.net At port 8080 <a href="#" class="back-to-top" style="text-align:center"></a></p></footer>
    </div>
  </body>
</html>