<%- include('blocks/header', {bot, user, path}) %>
<html>
    <head>
        <div class="jumbotron">
            <h1>About STPGraphy <img src="<%= bot.user.avatarURL %>" width="80" height="80"></h1>
            <h5>STPGraphy (STPGraPHY) or Sait Piboonbumpen photography project. Is a school project that gathers every photographers in school up and try to manipulate these works as teamwork. This project also invents something new for teachers to collaborate with. And teach other students with our inventions.</h5>
            <h3>Inventions and projects</h3>
            <h5>Currently there are no inventions that invented for testing. Because of budget shortage, bad teammates and COVID 19 outbreak. We are now developing this website for ease of use for members and clients</h5>
            <h3>Discord</h3>
            <h7>Yes! we have. we're running 2 discord servers at a same time</h7>
            <h7>NATTO Association of gaming and learning. A central hub for satit students</h7>
            <p><a class="btn btn-secondary" href="https://discord.gg/ZVT29pP" role="button">Join NATTO <i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i></a></p>
            <h7>Official STPGraphy discord channel. Where important stuff may likely be posted here. Every STPGraphy members will hate to join</h7>
            <p><a class="btn btn-secondary" href="https://discord.gg/kCB7kgP" role="button">Join STPGraphy<i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i></a></p>
            <h7>Want to know our handsome members? Take a look</h7>
            <p><a class="btn btn-secondary" href="/contri" role="button">Contributors<i class ="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i></a></p>
                
        </div>
    </head>
</html>
<% include ./blocks/footer %>