<%- include('blocks/header', {bot, user, path}) %>
<html>
    <head>
        <div class ="jumbotron">
            <h1>STPGraphy contributors</h1>
            <h4>Special thanks to these peoples who helped us to make a STPGraphy web page</h4>
            <div class ="jumbotron">
                <h3>OTAGRAM <img src="https://yt3.ggpht.com/a/AATXAJyKCPENS5xOZb0ReYOK99TyNInv_W8CrUNhdA=s100-c-k-c0xffffffff-no-rj-mo" width="80" height="80"> </h3>
                <h4>Jaruwit sawatrum</h4>
                <p><a class="btn btn-primary" href= "https://www.youtube.com/channel/UCqqIutqeWvhx-HFkZx2oygA" role="button">Youtube channel</a></p>
                <h3>Knilios <img src="https://www.google.com/s2/u/0/photos/public/AIbEiAIAAABDCNjD5c7D1sugXiILdmNhcmRfcGhvdG8qKDkxZWMxYjQ4YTNjNDRhNDlkNjM0Yzk4YmFjODExYmIzMWM1MDVkMjYwAXCAq2P_6kVFEB4xw0eUaT1yzXmu?sz=40" width="80" height="80"> </h3>
                <h4>Kristawan jaroenrad</h4>
                <p><a class="btn btn-primary" href= "" role="button">Youtube channel</a></p>
                <h3>NETtoSan <img src="https://yt3.ggpht.com/a-/AOh14GjJKGyZqVJ4n-xJvYKl_XMg6A5hInTZZ22kxcYRAQ=s88-c-k-c0xffffffff-no-rj-mo" width="80" height="80"> </h3>
                <h4>Lorenzo zamora</h4>
                <p><a class="btn btn-primary" href= "https://www.youtube.com/channel/UCKhI-wUF5a4YQScxP4u9SxQ?view_as=subscriber" role="button">Youtube channel</a></p>
                <h3>Lopept_TV <img src="https://yt3.ggpht.com/a/AATXAJwmm6mmaZ9jbiRZ337c0bUBKcnEZEQELzBMkQ=s100-c-k-c0xffffffff-no-rj-mo" width="80" height="80"></h3>
                <h4>Pongporn Sanoksiang</h4>
                <p><a class="btn btn-primary" href= "https://www.youtube.com/channel/UChg9mZVJoNiuIsp848jR-Zg" role="botton">Youtube channel</a></p>
            </div>
            
        </div>
    </head>
</html>
<% include blocks/footer %>